.App {
  text-align: center;
}

.grandma-logo{
  height: 20vmin;
  
}

.App-header {
  background-color: #282c34;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.grandma-class {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  
  
}

.child{
  background-color: blanchedalmond;
  margin-left: 35vh;
  width: 70vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.GreatChild{
  background-color: darkcyan;
  width: 50vh;
  height: 50vh;
  
}

